.conteiner{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.inicio{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 10px;
  margin-right: 10px;
}
.inicio h1, .inicio h2{
  margin-bottom: 20px;
}

.entrenos{
  margin-bottom: 100px;
  margin-left: 50px;
  margin-right: 50px;
  max-width: 300px;
}
.entrenos ol li{
  margin-bottom: 10px;
}

.entrenos h2{
  margin-bottom: 20px;
}

.entrenos ol h3{
  margin-bottom: 10px;
}
.entrenos ol p{
  margin-bottom: 10px;
}